@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

.contact-container {
  width: 100%;
  justify-content: center;
  padding: 20px;
  background: #f5f6fa;

  @include tablet {
    padding: 10px;
  }

  .home-back {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 50;

    .link-button {
      color: #000;
      font-size: 30px;
    }
  }

  .contact-header {
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins' sans-serif;
    padding: 15px;
    margin-top: 20px;

    h1 {
      margin: 10px 15px;

      @include tablet {
        margin: 15px 10px;
      }
    }



    @include tablet {
      text-align: center;
      font-size: 25px;
    }

  }



  .contact-about {
    position: relative;
    width: 100%;
    text-align: center;

    @include tablet {
      padding: 10px;
    }

    .my-about-header {
      font-size: 20px;
      padding: 30px;
    }

    .icons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      a {
        color: #000;

        .icon {
          background: #000;

        }
      }
    }

  }
}