@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

.contact-container {
  width: 100%;
  justify-content: center;
  padding: 100px;

  @include tablet {
    padding: 20px;
  }

  .contact-header {
    text-align: center;
    display: flex;
    width: auto;
    height: 100vh;
    padding: 15px;
    margin: 10px auto;

    @include tablet {
      display: flex;
      justify-items: center;
      align-items: center;
      width: auto;
      height: 45vh;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      height: 50vh;
    }

    .contact-header-text {
      padding: 20px;
      text-align: center;
      font-size: 70px;
      width: 100%;

      @include tablet {
        font-size: 30px;
        padding: 5px;
      }
    }


  }



  .contact-about {
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    min-height: 100vh;

    @include tablet {
      padding: 10px;
    }

    .my-about-header {
      font-size: 20px;
      padding: 30px;
    }

    .my-about-text {
      font-size: 20px;

      @include tablet {
        font-size: 15px;
      }
    }

    .hero-section {
      margin: 30px auto;
      padding: 10px;
      border: none;
      max-width: 500px;
      border-radius: 10px;
      background-color: #FFE3E4;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%237f7f7f' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%239c9c9c' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%237f7f7f' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%239c9c9c' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23BBBBBB' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23ad9bb0' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d4c1d7' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23FCE9FF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d4c1d7' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23ad9bb0' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23FCE9FF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23ad9bb0' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23FCE9FF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d4c1d7' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23FCE9FF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
      box-shadow: 5px 5px 5px rgba(46, 37, 37, 0.374);


      .section-header {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(16, 0, 119);

        h1 {
          -webkit-text-stroke: 1px rgb(33, 33, 33);
        }

        .link-button {
          color: #000;
          font-size: 1rem;
          text-decoration: underline;
          font-family: 'IBM Plex Mono', monospace;
        }
      }
    }

    .icons-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      margin: auto;

      .handles {
        padding: 20px;
      }
    }

  }
}