.custom-button {
  min-width: 50px;
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 25px;
  font-family: "Poppins";
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 2px solid black;


  &:hover {
    box-shadow: #9c88ff -5px -5px;
  }
}