@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

.contact-form {
  margin: auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .form {
    margin: 10px 15px;
    align-items: flex-start;

    .btn {
      display: flex;
      margin: 10px auto;

      @include tablet {
        margin: 20px auto;
      }

      @include mobile {
        margin-top: 75px;
        margin-bottom: 10px;
      }

      .custom-button {
        display: inline-block;

        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
}