@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

.contact-form {
  margin: auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 7px;

  .form {
    margin: auto;

    .btn {
      display: flex;
      margin: 10px auto;

      @include tablet {
        margin: 20px auto;
      }

      @include mobile {
        margin-top: 75px;
        margin-bottom: 10px;
      }

      .custom-button {
        display: inline-block;
        box-shadow: rgb(175, 175, 175) 5px 5px 5px;

        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
}