@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

.project-page {
  margin: auto;
  padding: 50px;
  width: 100%;
  // background: #9c88ff;
  background-color: #9C88FF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23fbc531' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23353b48' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ff8c58' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23125876' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23da687a' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23007994' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23985983' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23009a95' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23554c6c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2300b876' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232f3640' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%234cd137' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: cover;

  .project-header {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-shadow: #131313 3px 3px;

    @include tablet {
      font-size: 25px;
    }
  }

  .project-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    @include tablet {
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }

    .project-tile {
      height: auto;
      width: auto;
      margin-bottom: 20px;
      color: #000;

      .project-lapo {
        padding: 15px;
        width: 600px;
        height: 500px;
        margin: 20px auto;
        background: #f5f6fa;
        border: 2px solid #131313;
        border-radius: 8px;
        transition: all ease-in 0.2s;


        &:hover {
          box-shadow: -8px -8px #131313;
        }


        @include tablet {
          width: 300px;
          height: 350px;

        }

        .project-span {
          position: relative;
          align-self: center;
          text-align: left;
          font-size: 35px;
          font-weight: 700;
          font-family: "Righteous" sans-serif;

          @include tablet {
            font-size: 25px;
          }
        }



        .project {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 300px;
          border-radius: 7px;
          cursor: pointer;
          background: #e0e0e0;

          @include tablet {
            width: 100%;
            height: 150px;
          }

          .project_img {
            width: 100%;
            height: 300px;
            border: none;
            border-radius: 10px;

            @include tablet {
              width: 100%;
              height: 150px;
              border: none;
              border-radius: 10px;
            }
          }

        }

        p {
          @include tablet {
            font-size: 14px;
          }
        }

      }

      .project-button {
        padding: 5px 10px;
        text-align: center;
        text-align: center;
        justify-content: center;
        border: 2px solid #000;
        border-radius: 4px;
        height: 55px;
        width: auto;
        cursor: pointer;
        font-family: 'Righteous', monospace;
        font-weight: 600;
        font-size: 17px;
        color: #000;
        transition: all ease-in 0.2s;

        a {
          color: #000;
        }

        &:hover {
          box-shadow: #000 -3px -3px;
        }

        @include tablet {
          width: auto;
          height: 50px;
          font-size: 15px;
        }

      }
    }

  }
}