* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  color: #000;
}

.footer {
  margin: 35px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: -1;
}