$root: '.c-rainbow';

:root {
  --color-background: #31037D;

  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #ffeed0;
  --color-red: #fee4e4;
  --color-violet: #dbbce6;
  --color-blue: #FCE9FF;
  --color-green: #FFE3E4;
  --color-yellow: #BBBBBB;

  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

@keyframes rainbow {

  0%,
  100% {
    transform: translatey(var(--axis-y));
  }

  50% {
    transform: translatey(calc(var(--axis-y) * -1));
  }
}


.homepage-body {
  height: 100vh;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  display: flex;
  background-color: #1D1D1D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23487eb0' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23353b48' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23456f98' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23125876' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23416081' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23007994' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%233c516b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23009a95' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23364355' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2300b876' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232f3640' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%234cd137' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: cover;
  font-family: 'Righteous', 'Poppins';



  .homepage-container {
    margin-top: 60px;


    .home-page {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: 30px 20px;

      @include tablet {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin: 0;
      }

      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
      }

      .homepage-aly {
        font-size: 55px;
        color: #4cd137;
        margin: 10px 20px;
        font-family: 'Poppins' sans-serif;


        @include tablet {
          font-size: 35px;
          margin: 0 10px;
        }

      }

      .homepage-aly-2 {
        font-size: 35px;
        color: #fff;
        margin: 10px 20px;
        font-family: 'Poppins' sans-serif;

        @include tablet {
          font-size: 25px;
          margin: 15px 10px;
        }

      }

      .intro-fofm {
        font-size: 80px;
        margin: 0 20px;
        text-align: left;
        font-weight: 400;
        color: #fff;

        .intro-fofm-hi {
          font-size: 45px;

          @include tablet {
            font-size: 30px
          }
        }

        .intro-fofm-name {
          color: #fff;
          font-family: 'Righteous';
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          text-shadow: #4cd137 3px 3px;
        }


        @include tablet {
          font-size: 50px;
          margin: 0 10px;
        }
      }

      .link-button {
        position: relative;

        @include tablet {
          margin: auto;
          width: 100%;
        }


        .custom-button {
          display: inline-block;
          width: auto;
          border: none;
          border-radius: 4px;
          color: #fff;
          background: #4cd137;
          margin: 0 15px;
          font-weight: 700;
          font-size: 20px;

          @include tablet {
            font-size: 15px;
          }

          &:hover {
            box-shadow: #0f5a03 -5px -5px
          }
        }
      }
    }


  }


}